{% extends "base.html.twig" %}


{% block title %}Home!
{% endblock %}
{% block body %}


	<h1>
		nos produit phares
	</h1>
	<div class="row">
		{% for product in products %}
			<div class="col">
				{% include "product/_product_cart.html.twig" with {'p': product } %}
			</div>
		{%endfor %}
	</div>

	<hr>
	<h2>
		Un service irreprochable
	</h2>

	<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet numquam tempora aperiam harum, repudiandae voluptatibus saepe incidunt similique voluptatem animi amet odit, tenetur excepturi voluptate natus expedita voluptatum itaque maiores.</p>

	<div class="row">
		{% include "shared/_assurence.html.twig" with {
        "color" : "primary" , 
        "text" :"Lorem ipsum dolor sit amet consectetur, adipisicing elit." ,
         "icon":"fa-truck" 
          } %}

		{% include "shared/_assurence.html.twig" with {
        "color" : "success" , 
        "text" :"Lorem ipsum dolor sit amet consectetur, adipisicing elit. " ,
         "icon":"fa-check" 
          } %}


		{% include "shared/_assurence.html.twig" with {
        "color" : "warning" , 
        "text" :"Lorem ipsum dolor sit amet consectetur, adipisicing elit." ,
         "icon":"fa-lock" 
        } %}

	</div>
{% endblock %}
